<h1> national of Bank.First() </h1>

<input matInput type="number" id="idClientInput" placeholder="enter idClient #" [(ngModel)]="idBankingClient">
<button mat-raised-button id="lookupClient" (click)="lookup()">Lookup</button>

<span *ngIf="isReady">
  <CheckSheet [idBankingClient]="idBankingClient" [active]="true" [idCheck]=-1 (reloadChecks)="lookup()">></CheckSheet>
  <br />
  <ul>
    <li *ngFor="let check of checkHistory; let i = index">
      <CheckSheet [idBankingClient]="idBankingClient" [active]="false" [idCheck]=check></CheckSheet>
    </li>
  </ul>
</span>
