<div class="CheckCard">
  <mat-card-content>
    <div></div>
    <label id="CustomerFullName"> {{bankClient.firstName}} {{bankClient.middleName}} {{bankClient.lastName}} </label>
    <label id="CheckNumber">105</label>
    <p class="SmallNewLine"></p>
    <label id="CustomerAddress">
      {{bankClient.primaryAddress.number}} {{bankClient.primaryAddress.street}}
      <br />
      {{bankClient.primaryAddress.city}}, {{bankClient.primaryAddress.state}} {{bankClient.primaryAddress.zipcode}}
    </label>


    <section id="PayTo">
      <section id="PayToWords">
        <ul>
          <li class="NoBullets"><label id="PayToTop">PAY TO:</label></li>
          <li class="NoBullets"><label id="PayToBottom"> THE ORDER OF</label></li>
        </ul>
      </section>
      <section id="PayToEntry">
        <input matInput placeholder="Customer Name"> $<input matInput type="number" id="DigitsCheckAmount" placeholder="0.00">
        <p id="SpelledDollars"> <input type="text"> DOLLARS</p>
      </section>

    </section>


    <label id="BankName"> national of Bank.First() </label>

    <p>
      Memo: <input type="text"> {{bankClient.firstName}} {{bankClient.middleName}} {{bankClient.lastName}} <b> MP</b>
    </p>
    <p>010101010  -  101 010 101 0 10101</p>
    <mat-card-actions><button mat-button>(click)="SendCheck()">Send Check</button></mat-card-actions>
  </mat-card-content>

</div>  
