<div class="CheckCard">
  <mat-card-content>
    <div></div>
    <label id="CustomerFullName"> {{bankClient.firstName}} {{bankClient.middleName}} {{bankClient.lastName}} </label>
    <label id="CheckNumber">{{freshCheck.checkNumber}}</label>
    <p class="SmallNewLine"></p>
    <label id="CustomerAddress">
      {{bankClient.primaryAddress.number}} {{bankClient.primaryAddress.street}}
      <br />
      {{bankClient.primaryAddress.city}}, {{bankClient.primaryAddress.state}} {{bankClient.primaryAddress.zipcode}}
    </label>


    <section id="PayTo">
      <section id="PayToWords">
        <ul>
          <li class="NoBullets"><label id="PayToTop">PAY TO:</label></li>
          <li class="NoBullets"><label id="PayToBottom"> THE ORDER OF</label></li>
        </ul>
      </section>
      <section id="PayToEntry">
        <input matInput placeholder="Name of recipient" [(ngModel)]="freshCheck.payTo" [disabled] ="active == false">
        $<input matInput type="number" id="DigitsCheckAmount" placeholder="0.00" [(ngModel)]="freshCheck.dollarAmount" [disabled] ="active == false">
        <p id="SpelledDollars"> <input type="text" [(ngModel)] ="freshCheck.writtenDollars" disabled> DOLLARS</p>
      </section>

    </section>


    <label id="BankName"> national of Bank.First() </label>

    <p>
      Memo: <input type="text" [(ngModel)]="freshCheck.memo" [disabled] ="!active"> SPACES HERE {{bankClient.firstName}} {{bankClient.middleName}} {{bankClient.lastName}} <b> MP</b>
    </p>
    <p>010101010  -  101 010 101 0 10101</p>
    <mat-card-actions>
      <span *ngIf="active">
      <button mat-raised-button id="SendCheck" (click)="sendCheck()">Send Check</button>
    </span>
    </mat-card-actions>
  </mat-card-content>

</div>  
